<form action="" method="post">
  <input type="hidden" name="token" value="<%= token %>">
  <div class="form-item">
    <label for="password">password: </label>
    <input type="password" name="password" id="password" required/>
  </div>
  <div class="form-item">
    <label for="repeatPassword">repeatPassword: </label>
    <input type="password" name="repeatPassword" id="repeatPassword" required/>
  </div>
  <div class="form-item">
    <button type="submit">submit</button>
  </div>
</form>
